WebApplication_Teye_picture/Web References/UploadAttribute/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertTable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ImgName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="note" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="location" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertTableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insertTableResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteTable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteTableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="deleteTableResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertdetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="uname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="age" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="uniqueid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertdetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insertdetailsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkuname">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uname" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkunameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="checkunameResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="chklogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="chkloginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="chkloginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="int" type="s:int" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="insertTableSoapIn">
    <wsdl:part name="parameters" element="tns:insertTable" />
  </wsdl:message>
  <wsdl:message name="insertTableSoapOut">
    <wsdl:part name="parameters" element="tns:insertTableResponse" />
  </wsdl:message>
  <wsdl:message name="deleteTableSoapIn">
    <wsdl:part name="parameters" element="tns:deleteTable" />
  </wsdl:message>
  <wsdl:message name="deleteTableSoapOut">
    <wsdl:part name="parameters" element="tns:deleteTableResponse" />
  </wsdl:message>
  <wsdl:message name="insertdetailsSoapIn">
    <wsdl:part name="parameters" element="tns:insertdetails" />
  </wsdl:message>
  <wsdl:message name="insertdetailsSoapOut">
    <wsdl:part name="parameters" element="tns:insertdetailsResponse" />
  </wsdl:message>
  <wsdl:message name="checkunameSoapIn">
    <wsdl:part name="parameters" element="tns:checkuname" />
  </wsdl:message>
  <wsdl:message name="checkunameSoapOut">
    <wsdl:part name="parameters" element="tns:checkunameResponse" />
  </wsdl:message>
  <wsdl:message name="chkloginSoapIn">
    <wsdl:part name="parameters" element="tns:chklogin" />
  </wsdl:message>
  <wsdl:message name="chkloginSoapOut">
    <wsdl:part name="parameters" element="tns:chkloginResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="insertTableHttpGetIn">
    <wsdl:part name="userId" type="s:string" />
    <wsdl:part name="ImgName" type="s:string" />
    <wsdl:part name="note" type="s:string" />
    <wsdl:part name="location" type="s:string" />
  </wsdl:message>
  <wsdl:message name="insertTableHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="deleteTableHttpGetIn">
    <wsdl:part name="name" type="s:string" />
  </wsdl:message>
  <wsdl:message name="deleteTableHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="insertdetailsHttpGetIn">
    <wsdl:part name="fname" type="s:string" />
    <wsdl:part name="lname" type="s:string" />
    <wsdl:part name="uname" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="age" type="s:string" />
    <wsdl:part name="uniqueid" type="s:string" />
    <wsdl:part name="phone" type="s:string" />
    <wsdl:part name="email" type="s:string" />
  </wsdl:message>
  <wsdl:message name="insertdetailsHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="checkunameHttpGetIn">
    <wsdl:part name="uname" type="s:string" />
  </wsdl:message>
  <wsdl:message name="checkunameHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="chkloginHttpGetIn">
    <wsdl:part name="uname" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="chkloginHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="insertTableHttpPostIn">
    <wsdl:part name="userId" type="s:string" />
    <wsdl:part name="ImgName" type="s:string" />
    <wsdl:part name="note" type="s:string" />
    <wsdl:part name="location" type="s:string" />
  </wsdl:message>
  <wsdl:message name="insertTableHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="deleteTableHttpPostIn">
    <wsdl:part name="name" type="s:string" />
  </wsdl:message>
  <wsdl:message name="deleteTableHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="insertdetailsHttpPostIn">
    <wsdl:part name="fname" type="s:string" />
    <wsdl:part name="lname" type="s:string" />
    <wsdl:part name="uname" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="age" type="s:string" />
    <wsdl:part name="uniqueid" type="s:string" />
    <wsdl:part name="phone" type="s:string" />
    <wsdl:part name="email" type="s:string" />
  </wsdl:message>
  <wsdl:message name="insertdetailsHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="checkunameHttpPostIn">
    <wsdl:part name="uname" type="s:string" />
  </wsdl:message>
  <wsdl:message name="checkunameHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="chkloginHttpPostIn">
    <wsdl:part name="uname" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="chkloginHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertTable">
      <wsdl:input message="tns:insertTableSoapIn" />
      <wsdl:output message="tns:insertTableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteTable">
      <wsdl:input message="tns:deleteTableSoapIn" />
      <wsdl:output message="tns:deleteTableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertdetails">
      <wsdl:input message="tns:insertdetailsSoapIn" />
      <wsdl:output message="tns:insertdetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="checkuname">
      <wsdl:input message="tns:checkunameSoapIn" />
      <wsdl:output message="tns:checkunameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="chklogin">
      <wsdl:input message="tns:chkloginSoapIn" />
      <wsdl:output message="tns:chkloginSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebService1HttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="insertTable">
      <wsdl:input message="tns:insertTableHttpGetIn" />
      <wsdl:output message="tns:insertTableHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteTable">
      <wsdl:input message="tns:deleteTableHttpGetIn" />
      <wsdl:output message="tns:deleteTableHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="insertdetails">
      <wsdl:input message="tns:insertdetailsHttpGetIn" />
      <wsdl:output message="tns:insertdetailsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="checkuname">
      <wsdl:input message="tns:checkunameHttpGetIn" />
      <wsdl:output message="tns:checkunameHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="chklogin">
      <wsdl:input message="tns:chkloginHttpGetIn" />
      <wsdl:output message="tns:chkloginHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebService1HttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="insertTable">
      <wsdl:input message="tns:insertTableHttpPostIn" />
      <wsdl:output message="tns:insertTableHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteTable">
      <wsdl:input message="tns:deleteTableHttpPostIn" />
      <wsdl:output message="tns:deleteTableHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="insertdetails">
      <wsdl:input message="tns:insertdetailsHttpPostIn" />
      <wsdl:output message="tns:insertdetailsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="checkuname">
      <wsdl:input message="tns:checkunameHttpPostIn" />
      <wsdl:output message="tns:checkunameHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="chklogin">
      <wsdl:input message="tns:chkloginHttpPostIn" />
      <wsdl:output message="tns:chkloginHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertTable">
      <soap:operation soapAction="http://tempuri.org/insertTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteTable">
      <soap:operation soapAction="http://tempuri.org/deleteTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertdetails">
      <soap:operation soapAction="http://tempuri.org/insertdetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkuname">
      <soap:operation soapAction="http://tempuri.org/checkuname" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="chklogin">
      <soap:operation soapAction="http://tempuri.org/chklogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertTable">
      <soap12:operation soapAction="http://tempuri.org/insertTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteTable">
      <soap12:operation soapAction="http://tempuri.org/deleteTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertdetails">
      <soap12:operation soapAction="http://tempuri.org/insertdetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkuname">
      <soap12:operation soapAction="http://tempuri.org/checkuname" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="chklogin">
      <soap12:operation soapAction="http://tempuri.org/chklogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1HttpGet" type="tns:WebService1HttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertTable">
      <http:operation location="/insertTable" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteTable">
      <http:operation location="/deleteTable" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertdetails">
      <http:operation location="/insertdetails" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkuname">
      <http:operation location="/checkuname" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="chklogin">
      <http:operation location="/chklogin" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1HttpPost" type="tns:WebService1HttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertTable">
      <http:operation location="/insertTable" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteTable">
      <http:operation location="/deleteTable" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertdetails">
      <http:operation location="/insertdetails" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkuname">
      <http:operation location="/checkuname" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="chklogin">
      <http:operation location="/chklogin" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://vhost1901.site1.compute.ihost.com/aspnet_client/WebApplication_ref_teye_photo/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://vhost1901.site1.compute.ihost.com/aspnet_client/WebApplication_ref_teye_photo/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1HttpGet" binding="tns:WebService1HttpGet">
      <http:address location="http://vhost1901.site1.compute.ihost.com/aspnet_client/WebApplication_ref_teye_photo/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1HttpPost" binding="tns:WebService1HttpPost">
      <http:address location="http://vhost1901.site1.compute.ihost.com/aspnet_client/WebApplication_ref_teye_photo/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>